.font-size1{
	font-size: 58px;
}

.font-size2{
	font-size: 40px;
}

.botonMenu{
	width: 145px;
	height: 51px;
	background-color: #888;
	border: none;
	color: white;
	font-size: 19px;
}

.pd-top4{
	padding-top: 4%;
}

.pd-top3{
	padding-top: 1%;
	padding-left: 7%;
}/*Icono Navegador*/

.pl-38{
	padding-left: 38%;
}

.pl-3{
	padding-left: 3%;
}

 .pt8-pb5{
 	padding-top: 8%;
 	padding-bottom: 5%;
 }

 .pt3-pb13{
 	padding-top: 3%;
 	padding-bottom: 13%;
 }

 .pb-3{
 	padding-bottom: 3%;
 }